h1{
    color:rgb(76,187,23);
}
/* BACKGROUND 
/* body{
    background: olive;
}*/

body{
    /*Images can also be used as backgrounds. to use a url to an image the "url()" must be used
    background: url(https://images.unsplash.com/photo-1518005068251-37900150dfca?ixid=MXwxMjA3fDB8MHxwaG90[…]ufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80)*/

    /*images on computer can also be used as a background*/
    background: url("ireland.jpg");
    /*stops immage from tilting across the screen*/

    background-repeat: no-repeat;
    /*Streches image to cover screen/viewport */
    background-size: cover;

}

/* BORDER */
/* BORDERS IN CSS have three different values to set width, style, and color */

div{
    border: 5px dash blue;
    background: red;
}
